{{/* Initialise remark42 comments engine */}}
{{/* https://github.com/umputun/remark42#setup-on-your-website */}}
<script>
  var remark_config = {
    host: {{ $.Site.Params.remark42.host }}, // hostname of remark server, same as REMARK_URL in backend config, e.g. "https://demo.remark42.com"
    site_id: {{ $.Site.Params.remark42.site_id }},
    {{/* // optional param; which components to load. default to ["embed"]
    // to load all components define components as ['embed', 'last-comments', 'counter']
    // available component are:
    //     - 'embed': basic comments widget
    //     - 'last-comments': last comments widget, see `Last Comments` section below
    //     - 'counter': counter widget, see `Counter` section below */}}
    components: ['embed'],
    url: {{ .Permalink }},
    {{- with .Site.Params.remark42.max_shown_comments -}}
    max_shown_comments: {{.}},
    {{- end -}}
    {{/* optional param; if it isn't defined default value ('light') will be used */}}
    {{- with .Site.Params.remark42.theme -}}
    theme: {{.}},
    {{- end -}}
    {{/* optional param; if it isn't defined `document.title` will be used */}}
    {{- with .Site.Params.remark42.page_title -}}
    page_title: {{.}},
    {{- end -}}
    {{/* set up locale and language, if it isn't defined default value ('en') will be used */}}
    {{- with .Site.Params.remark42.locale -}}
    locale: {{.}}
    {{- end -}}
  };

  (function(c) {
    for(var i = 0; i < c.length; i++){
      var d = document, s = d.createElement('script');
      s.src = remark_config.host + '/web/' +c[i] +'.js';
      s.defer = true;
      (d.head || d.body).appendChild(s);
    }
  })(remark_config.components || ['embed']);
</script>
