{{ if .Params.series }}
  {{ $seriesName := index .Params.series 0 }}
  {{ $series := index .Site.Taxonomies.series ($seriesName | urlize) }}
  {{ $pageTitle := .LinkTitle }}

  {{range $index, $element := $series.Pages.ByDate }}
    {{ if eq $element.LinkTitle $pageTitle}}
       {{ $.Scratch.Set "articleIndex" $index }}
    {{ end }}
  {{end}}

  <section class="related-posts">
    <h4>Part {{ add ($.Scratch.Get "articleIndex") 1 }} of series "{{$seriesName}}"</h4>

    {{ $previousArticles := where $series.Pages.ByDate ".Date.Unix" "lt" .Date.Unix }}
    {{ if gt (len $previousArticles) 0 }}
      <h5>Previous articles</h5>
      <ul>
        {{range $previousArticles}}
          <li><a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
        {{ end }}
      </ul>
    {{ end }}

    {{ $nextArticles := where $series.Pages.ByDate ".Date.Unix" "gt" .Date.Unix }}
    {{ if gt (len $nextArticles) 0 }}
      <h5>Next articles</h5>
      <ul>
      {{ range $nextArticles }}
        <li><a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
      {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}