{{/* MailChimp inline Signup Form */}}
<div id="mc_embed_signup">
  <form action="//ozmoroz.us16.list-manage.com/subscribe/post?u=abab50b16a99497f4c2cf670b&amp;id=c8ba9d043f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-group validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2>Subscribe and receive an email when I publish a new article</h2>
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="form-group">
	      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
	      <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL">
      </div>
      <div class="form-group">
        <label for="mce-FNAME">First Name </label>
        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
      </div>
      <div id="mce-responses">
		    <div class="response" id="mce-error-response" style="display:none"></div>
		    <div class="response" id="mce-success-response" style="display:none"></div>
	    </div>
      <input type="hidden" name="PAGE_TITLE" id="PAGE_TITLE" value="{{.Page.Title}}" />
      <input type="hidden" name="PAGE_URL" id="PAGE_URL" value="{{.Page.Permalink}}" />
      <input type="hidden" name="PAGE_SLUG" id="PAGE_SLUG" value="{{.Params.slug}}" />
      <input type="hidden" name="PAGE_CATG" id="PAGE_CATG" value="{{.Params.categories}}" />
      <input type="hidden" name="PAGE_TAGS" id="PAGE_TAGS" value="{{.Params.tags}}" />
      {{/* <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--> */}}
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_abab50b16a99497f4c2cf670b_c8ba9d043f" tabindex="-1" value=""></div>
      <div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="col-12 col-md-3 btn btn-success"></div>
    </div>
  </form>
</div>
{{/* Track subscription via Google Tag manager */}}
<script>
  (function($) {
    ///
    /// Subscribe data enrichment
    ///
    $('#mc-embedded-subscribe').click(function(e) {
        var emailRgx = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/i;
        var email = $('#mce-EMAIL').val();
        var name = $('#mce-FNAME').val();
        var logString = name + ':' + email;
        var eventCategory = emailRgx.test(email) ? 'subscribe_clean' : 'subscribe_dirty';
        gtag('event', logString, {
          'event_category': eventCategory,
          'event_label': {{.Permalink}}>
        });
        {{/* $('#mce-page').val(window.location.pathname);
        var campName = typeof window.campaignName !== 'string' ? '' : window.campaignName;
        $('#mce-campaign').val(campName); */}}
    });

  })(jQuery);
</script>
