{{ define "main" }}

{{ $truncate := default true .Site.Params.truncate }}

{{/* HOME page List ALL posts, while other pages only posts relevant to the context */}}
{{ $page_source := cond (eq .Kind "home") .Site.RegularPages .Pages }}
{{ $paginator := .Paginate (where $page_source "Type" "post") }}
{{ range $paginator.Pages }}
{{ if or $truncate (in .RawContent "<!--more-->") }}
{{/*  Add a hidden h1 tag to the home page  */}}
<h1 class="d-none">Blog posts</h1>
{{ .Render "summary" }}
{{ else }}
{{ .Render "content" }}
{{ end }}
{{ end }}

{{ partial "sendfox/signup-form.html" .}}
{{ partial "pagination.html" . }}

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
