{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post">
  <header>
    <h1 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
    <p class="blog-post-meta">
      {{ $postDate := .Date | default .Lastmod }}
      {{ if eq .Type "Page" }} Last updated on {{ end }}
      <time datetime="{{ $postDate.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ $postDate.Format $dateFormat | default .Lastmod }}
      </time>
      {{ if or (.Params.categories) (.Params.tags) }} in {{ partial "meta-terms.html" . }}{{ end }}
    </p>
  </header>
  {{ .Content }}

  {{ if .IsTranslated }}
  <h4>{{ i18n "translations" }}</h4>
  <ul>
    {{ range .Translations }}
    <li>
      <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}

  <aside>
    {{ partial "discuss-links.html" . }}
    {{ partial "series-index.html" . }}
    {{ partial "more-react-tips.html" . }}
    {{ partial "sendfox/signup-form.html" .}}
  </aside>
  {{/* <aside> */}}
  {{/* Render remark42 comments */}}
  {{/*  <h2>Comments</h2> * }}
  {{/* <div id="remark42"></div> */}}
  {{/* </aside> */}}
</article> <!-- /.blog-post -->

{{ if or (ne ($.Param "sharingicons") false) (.Site.DisqusShortname) }}
  <footer>
    {{ if (ne ($.Param "sharingicons") false) }}
      {{ partial "sharing-icons.html" . }}
    {{ end }}

    {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
  </footer>
{{ end }}
{{/* partial "remark42/init.html" . */}}
{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
